# Development configuration
version: "2"

services:
  # Data container
  data:
    build: ./data
    container_name: data
    volumes:
      - ./data/logs:/data/logs

  # API server
  api:
    build: ./api
    container_name: api
    environment:
      API_PORT: 8080
      API_HAR_DIR: /data/logs/
      SELENIUM_REMOTE_URL: http://hub:4444/wd/hub
    volumes_from:
      - data
    volumes:
      - ./api/src:/usr/src/app/src
      - ./api/package.json:/usr/src/app/package.json
    ports:
      - "8080:8080"
    command: npm run watch

  # Selenium hub
  hub:
    image: selenium/hub:2.52.0
    container_name: hub
    expose:
      - "4444"

  # Selenium node - firefox
  firefox:
    image: selenium/node-firefox:2.52.0
    environment:
      HUB_PORT_4444_TCP_ADDR: hub
      HUB_PORT_4444_TCP_PORT: 4444
    depends_on:
      - hub
    volumes_from:
      - data
    ports:
      - "5900:5900"
