# Development configuration
version: "2"
volumes:
  api_static: {}
  cache_data: {}
  db_data: {}
services:
  api:
    build: ./api
    container_name: api
    tty: true
    environment:
      - NODE_ENV=development
      - NODE_PORT=8000
      - DEBUG
      - COUCHDB_USER
      - COUCHDB_PASSWORD
    depends_on:
     - cache
     - db
    volumes:
      - api_static:/api/static
      - ./api/src:/api/src
      - ./api/package.json:/api/package.json
      - ./api/webpack.config.js:/api/webpack.config.js
    ports:
      - "8000:8000" # DEV only!
    command: run watch
  proxy:
    build: ./proxy
    container_name: proxy
    depends_on:
      - api
    volumes:
      - api_static:/api/static
    ports:
      - "80:80"
      - "443:443"
  cache:
    build: ./cache
    container_name: cache
    volumes:
      - cache_data:/data
    ports:
      - "6379:6379" # DEV only!
  db:
    image: couchdb:1.6.1
    container_name: db
    environment:
      - COUCHDB_USER
      - COUCHDB_PASSWORD
    volumes:
      - db_data:/usr/local/var/lib/couchdb
    ports:
      - "5984:5984" # DEV only!
  chrome:
    build: ./chrome
    container_name: chrome
    shm_size: 256m
    ports:
      - "9222:9222"
