# Development configuration
version: "2"
volumes:
  api_static: {}
  cache_data: {}
services:
  api:
    build: ./api
    container_name: api
    tty: true
    environment:
      - NODE_ENV=development
      - NODE_PORT=8000
      - DEBUG
    depends_on:
     - cache
    volumes:
      - api_static:/api/static
      - ./api/src:/api/src
      - ./api/package.json:/api/package.json
      - ./api/webpack.config.js:/api/webpack.config.js
    ports:
      - "8000:8000" # DEV only!
    command: run watch
  proxy:
    build: ./proxy
    container_name: proxy
    depends_on:
      - api
    volumes:
      - api_static:/api/static
    ports:
      - "80:80"
      - "443:443"
  cache:
    build: ./cache
    container_name: cache
    volumes:
      - cache_data:/data
    ports:
      - "6379:6379" # DEV only!
  chrome:
    build: ./chrome
    container_name: chrome
    shm_size: 256m
    ports:
      - "9222:9222"
