# Development configuration
# With VNC for visual debugging
#  vnc://<docker-machine-ip>:<port>
#  password=secret

version: "2"

services:
  # API server
  api:
    build: ./api
    container_name: api
    environment:
      NODE_ENV: 'development'
      PORT: 8080
      SELENIUM_REMOTE_URL: http://hub:4444/wd/hub
    volumes:
      - ./api/src:/api/src
      - ./api/package.json:/api/package.json
      - ./api/data:/data
    ports:
      - "8080:8080"
    command: npm run watch

  # WWW server
  www:
    build: ./www
    container_name: www
    environment:
      NODE_ENV: 'development'
      PORT: 9090
      API_HOST: 'api'
      API_PORT: 8080
    volumes:
      - /www/static
      - ./www/package.json:/www/package.json
      - ./www/webpack.config.js:/www/webpack.config.js
    ports:
      - "9090:9090"
    command: npm run watch

  # Reverse proxy server Nginx
  proxy:
    build: ./proxy
    container_name: proxy
    depends_on:
      - api
      - www
    volumes_from:
      - www
    ports:
      - "80:80"
      - "443:443"

  # Selenium hub
  hub:
    image: selenium/hub:2.53.0
    container_name: hub
    expose:
      - "4444"

  # Selenium node - firefox
  firefox:
    image: selenium/node-firefox-debug:2.53.0
    container_name: firefox
    environment:
      HUB_PORT_4444_TCP_ADDR: hub
      HUB_PORT_4444_TCP_PORT: 4444
    depends_on:
      - hub
    volumes_from:
      - api
    ports:
      - "5901:5900"
