# Development configuration
# With VNC for visual debugging
#  vnc://<docker-machine-ip>:<port>
#  password=secret

version: "2"

services:
  # API server
  api:
    build: ./api
    container_name: api
    environment:
      API_PORT: 8080
      SELENIUM_REMOTE_URL: http://hub:4444/wd/hub
    volumes:
      - ./api/src:/usr/src/app/src
      - ./api/package.json:/usr/src/app/package.json
      - ./api/data:/data
    ports:
      - "8080:8080"
    command: npm run watch

  # Reverse proxy server
  nginx:
    build: ./nginx
    container_name: nginx
    depends_on:
      - api
    ports:
      - "80:80"
      - "443:443"

  # Selenium hub
  hub:
    image: selenium/hub:2.53.0
    container_name: hub
    expose:
      - "4444"

  # Selenium node - firefox
  firefox:
    image: selenium/node-firefox-debug:2.53.0
    container_name: firefox
    environment:
      HUB_PORT_4444_TCP_ADDR: hub
      HUB_PORT_4444_TCP_PORT: 4444
    depends_on:
      - hub
    volumes_from:
      - api
    ports:
      - "5901:5900"
