#analyze>header {
    text-align: center;
}

#analyze>header>h2 {
    padding-bottom: .1em;
}

#analyze>header>h3 {
    padding-bottom: .4em;
    font-weight: 500;
}

#status {
    padding-bottom: .1em;
    font-style: italic;
}

#spinner {
    text-align: center;
    margin: 1em;
}

#analysis .rule {
    border-bottom: 1px solid #c9c9c9;
    word-wrap: break-word;
    font-weight: 300;
    line-height: 1.5em;
    background-color: #f4faff;
}

#analysis .rule>header {
    padding: .5em .25em;
    cursor: pointer;
    user-select: none;
}

#analysis .recommendation .rule>header:before {
    content: '▶';
    padding-right: .5em;
}

#analysis .recommendation .rule>header.active:before {
    content: '▼';
}

#analysis .title {
    font-weight: 500;
}

#analysis .rule:last-child {
    border-bottom: none;
}

#analysis .info {
    padding: .5em .25em;
}

#analysis ul {
    padding-left: 1.25em;
}

#analysis .reason {
    padding-top: .5em;
}

#analysis .values {
    font-size: .8em
}

#score {
    position: relative;
    width: 15em;
    height: 15em;
    margin: 1.5em auto;
}

#score-val {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#score-val>div:first-child {
    padding-top: .75em;
    color: #888;
}

#score-val>div:last-child {
    font-size: 2.4em;
}

@media screen and (min-width: 35.5em) {
    #analysis .rule header {
        display: flex;
    }
    #analysis .title {
        width: 100%;
    }
}
