#analyze>header {
    text-align: center;
}

#analyze>header>h2 {
    padding-bottom: .1em;
}

#analyze>header>h3 {
    padding-bottom: .4em;
    font-weight: 500;
}

#status {
    padding-bottom: .1em;
    font-style: italic;
}

#analysis {
    padding: 1em 0;
}

#analysis>section {
    border: solid 5px #c9c9c9
}

#analysis>header {
    font-size: 1.2em;
    margin: 1em 0 .5em 0;
}

#analysis .rule {
    border-bottom: 1px solid #c9c9c9;
    word-wrap: break-word;
    padding: .5em;
    font-weight: 300;
    line-height: 1.5em;
    background-color: #f4faff;
}

#analysis .title {
    font-weight: 500;
}

#analysis .rule:last-child {
    border-bottom: none;
}

#analysis .info {
    padding: .5em 0;
}

#analysis ul {
    padding-left: 1.25em;
}

#analysis .reason {
    padding-top: .5em;
}

#analysis .values {
    font-size: .8em
}

#analysis .recommendation {
    cursor: pointer;
}

#score {
    position: relative;
    width: 15em;
    height: 15em;
    margin: .5em auto;
}

#score-val {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em
}

@media screen and (min-width: 35.5em) {
    #analysis .rule header {
        display: flex;
    }
    #analysis .title {
        width: 100%;
    }
}
