#index form {
    display: flex;
    width: 100%;
}
#index input {
    padding: 10px;
    border: solid 5px #ccc;
    transition: border 0.3s;
    font-size: 1em;
}
#index input:focus {
    border: solid 5px #969696;
    outline: none;
}
#index input[type='submit'] {
    color: #4ea2da;
    border: solid 5px #4ea2da;
    background-color: #ffffff;
}
#index input[type='submit']:hover {
    border: solid 5px #1f8dd6;
}
#index input[type='text'] {
    width: 100%;
    margin-right: 5px;
}
