* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.green {
    color: green;
}

#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#root>header {
    border-bottom: 5px solid #e6e6e6;
    background-color: #1f8dd6;
    color: #fff;
}

#root>header a {
    color: #fff;
}

#root .wrapper {
    width: 90%;
    margin: 0 auto;
}

#root>main {
    flex: 1;
    padding: 1em 0;
}

#root>footer {
    background-color: #444;
    color: #ddd;
    padding: 1em;
    font-size: .8em;
    border-top: 5px solid #666;
}

#root>footer>div {
    display: flex;
}

#root>footer>div>div {
    width: 50%;
}

#root>footer>div a {
    color: #ddd;
    text-decoration: none;
}

#root>footer>div a:hover {
    color: #fff;
}

h1 {
    display: inline-block;
    padding: .5em 0;
    margin: 0;
}

h2 {
    text-align: center;
    color: #1c84ca;
    font-size: 2em;
    padding-bottom: .5em;
}

h3 {
    font-size: 1.4em;
    text-align: center;
}

h4 {
    text-align: center;
}

@media screen and (min-width: 35.5em) {
    #root .wrapper {
      width: 80%;
    }
}
